<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="contents">

        <h3><p>Biography</p></h3>
        <br>
      <%= raw(@about.about) %>
    </div>
  </body>
</html>
