
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="contents">

      <h3><p>News</p></h3>
      <br>

      <% @stories.each do |story| %>
      <div class="news">
      <span><strong><%= story.title %></strong></span>
      <%= raw(story.content) %>
      </div>
      <hr>
      <% end %>

    </div>
  </body>
</html>
